* {
    box-sizing: border-box;
    margin: 0;
}

%input {
    width: 100%;
    height: 25px;
    color: rgb(3, 17, 37);
    background-color: whitesmoke;
    outline-style: none;
    border-radius: 3px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    &-label {
        margin-top: 20px;
        align-self: flex-start;
    }
    &-btn {
        width: 7rem;
        margin-top: 1rem;
        border-radius: 5px;
        padding: 5px;
        background-color: #368983;
        color: whitesmoke;
    }
    input {
        @extend %input;
    }
  }

  @media screen and(min-width:768px) {
      .form-wrapper {
          display: flex;
          justify-content: center;
      }
      .form {
          width: 400px;
          font-size: 14px;
      }
  }